<!-- nav Bar  -->
<%- include("./Boilerplate/navbar.ejs") %>

<link rel="stylesheet" href="./style.css">

    <!-- main div starts  -->
    <div class="main container"> 
         <h2> What is Resume </h2>

         <p>
           <span class="text_HighLight"> A resume is a formal document that a job applicant creates to itemize their qualifications for a position.  </span>A resume is usually accompanied by a customized cover letter in which the applicant expresses an interest in a specific job or company and draws attention to the most relevant specifics on the resume.
            American job coaches insist that a resume should be only one or two pages in length. British job applicants traditionally are expected to produce a somewhat more detailed document, called a CV (curriculum vitae). 
         </p>

         <br><br>

         <h2> Defination of Resume </h2>
         <p>
            
            A resume is a comprehensive document that provides a snapshot of an individual's <span class="text_HighLight"> professional background, skills, accomplishments, and qualifications.</span> It serves as a vital tool in the job application process, acting as a bridge between the applicant and potential employers. <br>

            Typically, a resume includes sections such as personal information, a professional summary or objective statement, education, work experience, skills, certifications, and relevant achievements. Each section is carefully crafted to highlight the <span class="text_HighLight"> candidate's strengths and suitability for the desired position. </span> <br>

            <span class="text_HighLight"> The primary purpose of a resume is to persuade employers to consider the applicant for an interview </span> showcasing their relevant experience and capabilities. Therefore, it's essential for a resume to be well-organized, concise, and tailored to the specific job or industry. <br> <br>

            A well-written resume not only outlines the candidate's past experiences but also demonstrates their potential to contribute effectively to the prospective employer's objectives.<span class="text_HighLight">  It should effectively communicate the candidate's unique value </span> proposition and differentiate them from other applicants. <br> <br>

            Moreover, a resume serves as a platform for candidates to strategically present themselves in the best possible light, emphasizing their <span class="text_HighLight">  most relevant skills and accomplishments. </span> It provides recruiters and hiring managers with essential information to assess the candidate's qualifications and determine their fit for the role. <br> <br>

            In today's competitive job market, a compelling resume is crucial for standing out among a sea of applicants. It acts as the <span class="text_HighLight"> first impression that employers have of a candidate, influencing their decision to invite them </span> for further consideration or move on to other candidates. <br> <br>

            Overall, a well-crafted resume is a powerful tool for job seekers, enabling them to effectively market their skills and experiences to potential employers and increase their chances of securing interviews and ultimately, job offers. <br> <br>
         </p>

         <br> <br>

         <h2> What is CV </h2>
         <p>
          CV typically stands for <span class="text_HighLight"> "curriculum vitae," </span> which is Latin for "course of life." It's a document that summarizes a person's educational background, work experience, skills, and accomplishments. It's commonly used when applying for academic positions, research opportunities, or certain professional jobs, especially in Europe and other parts of the world.
         </p>
         <br> <br>


        <h2> Does CV and Resume are the same ... let's see </h2>
        <span>

      Certainly! While CVs (curriculum vitae) and resumes serve similar purposes in terms of presenting an individual's qualifications for a job or academic position, <span class="text_HighLight"> there are some key differences between the two: </span>
      <br> <br>

    <b> Length: </b>
    CVs are typically longer than resumes, often running multiple pages, especially for those with  <span class="text_HighLight">extensive academic or research backgrounds. </span>
    Resumes are usually limited to one or two pages, focusing on concise and relevant information.
    <br> <br>

    <b> Content: </b> <br>
    CVs tend to include comprehensive details about academic achievements, research experience, publications, presentations, and teaching experience.
    <span class="text_HighLight"> Resumes prioritize professional experience, skills, and accomplishments relevant to the specific job applied for </span>, with less emphasis on academic background unless directly relevant. <br> <br>
    <b>Purpose: </b>  <br>
    CVs are commonly used for academic and research positions, fellowships, grants, and international applications.
    <span class="text_HighLight">Resumes are more frequently used in the business world </span> for job applications across various industries. <br> <br>

    <b> Format: </b> <br>
    CVs often follow a chronological order, listing academic qualifications, research experience, publications, and presentations in detail.
    Resumes can be formatted in a <span class="text_HighLight"> variety of ways, including chronological, functional, or a combination, highlighting relevant skills and experiences </span> for the targeted position. <br> <br>

    <b> Additional Sections: </b> <br>
    CVs may include sections such as research interests, academic awards, grants, conferences attended, and professional affiliations.
    Resumes may feature sections like <span class="text_HighLight"> professional certifications, relevant coursework, technical skills, or volunteer experience, </span>tailored to the job requirements. <br>
    <br>

    <b> Audience: </b>  <br>
    CVs are typically reviewed by academic committees, hiring managers in research institutions, or grant funding organizations.
    Resumes are reviewed by  <span class="text_HighLight"> hiring managers, recruiters, or HR professionals in various industries.  </span> <br>
    <br>

   <b> Global Usage: </b>   <br>
    CVs are more commonly used in <span class="text_HighLight"> European countries </span>, Canada, Australia, and some Asian countries. 
    Resumes are prevalent in the United States and are also widely accepted in many other countries. <br>
    <br>

    <b> Flexibility: </b>   <br>
    CVs allow for more flexibility in content and structure, accommodating detailed information about academic pursuits and research.
    Resumes are more focused and tailored to <span class="text_HighLight"> specific job descriptions </span>,  emphasizing skills and experiences most relevant to the position. <br> <br>

    Understanding these distinctions can help individuals prepare the appropriate document depending on the industry, country, and specific <span class="text_HighLight"> requirements of the application. </span>
         </p>

    </div>
    <!-- main div ends -->

    <br> <br> <hr> <br> <br>

    <div class="resume-btn">
      <a href="/form1"> <button class="btn btn-success btn-lg"> Create Resume </button> </a>
    </div>

     <br> <br> <br> <br>


<!-- footer  -->
<%- include("./Boilerplate/footer.ejs") %>


